*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.page
{
	width: 60%;
	margin: 0 auto;
}
.menu 
{
	height: 100px;
	background-color: #B2D6FF;    /* Medium blue */
}
.sidebar 
{
	float: left;
	width: 30%;
	height: 500px;
	background-color: #F09A9D;    /* Red */
}
.content 
{
	float: left;
	margin: 0 auto;
	width: 70%;
	height: 500px;
	background-color: #F5CF8E;    /* Yellow */
}
.footer 
{
	clear: both;
	height: 200px;
	background-color: #D6E9FE;    /* Light blue */
}
